.universe {
    max-width: 1335px;
    margin: 0 auto;
}

.orbit {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}


/*--mercury---------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------ */
/*------------------------------------------------------------------------------------------ */

.mercury {
    height: 300px;
    flex-basis: 25%;
    -ms-flex: auto;
    width: 250px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.mercury-wrapper {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    background: #aaa;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    position: relative;
}

.mercury-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

/*--Hovers---------------------------------------------------------------------------------------- */

.mercury:hover .mercury-wrapper {
padding: 2% 2%;
margin: -2% -2%;
}

/*---Media Queries--------------------------------------------------------------------------------------- */

@media(max-width: 1333px) {
    .mercury {
        flex-basis: 25%;
    }
}

@media(max-width: 1073px) {
    .mercury {
        flex-basis: 25%;
    }
}

@media(max-width: 815px) {
    .mercury {
        flex-basis: 50%;
    }
}

@media(max-width: 555px) {
    .mercury {
        flex-basis: 100%;
    }
}


/*------------------------------------------------------------------------------------------ */
/*------------------------------------------------------------------------------------------ */
/*------------------------------------------------------------------------------------------ */

.movie_picture_holder {
    flex-basis: 70%;
    -ms-flex: auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    height: 60px;
    background-color: limegreen;
}


.movie_info_holder {
    flex-basis: 30%;
    -ms-flex: auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    height: 60px;
    background-color: lightskyblue;
}

