.universe {
    max-width: 1335px;
    margin: 0 auto;
}

.orbit {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

/*--Earth---------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------ */
/*------------------------------------------------------------------------------------------ */

.earth {
    height: 250px;
    flex-basis: 20%;
    -ms-flex: auto;
    width: 250px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.earth-wrapper {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    background: #aaa;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    position: relative;
}

.earth-container {
    height: 100%;
    width: 100%;
    position: relative;
}

/*--Hovers---------------------------------------------------------------------------------------- */

/*.earth:hover .earth-wrapper {*/
/*padding: 2% 2%;*/
/*margin: -2% -2%;*/
/*}*/

/*---Media Queries--------------------------------------------------------------------------------------- */

@media(max-width: 1333px) {
    .earth {
        flex-basis: 33.33%;
    }
}

@media(max-width: 1073px) {
    .earth {
        flex-basis: 33.33%;
    }
}

@media(max-width: 815px) {
    .earth {
        flex-basis: 50%;
    }
}

@media(max-width: 555px) {
    .earth {
        flex-basis: 100%;
    }
}

/*--Jupiter---------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------ */
/*------------------------------------------------------------------------------------------ */

.jupiter {
    height: 250px;
    flex-basis: 100%;
    -ms-flex: auto;
    width: 250px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.jupiter-wrapper {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    background: #aaa;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    position: relative;
}

.jupiter-container {
    height: 100%;
    width: 100%;
    position: relative;
}

/*--Hovers---------------------------------------------------------------------------------------- */

/*.jupiter:hover .jupiter-wrapper {*/
/*padding: 2% 2%;*/
/*margin: -2% -2%;*/
/*}*/

/*---Media Queries--------------------------------------------------------------------------------------- */

@media(max-width: 1333px) {
    .jupiter {
        flex-basis: 100%;
    }
}

@media(max-width: 1073px) {
    .jupiter {
        flex-basis: 100%;
    }
}

@media(max-width: 815px) {
    .jupiter {
        flex-basis: 100%;
    }
}

@media(max-width: 555px) {
    .jupiter {
        flex-basis: 100%;
    }
}
/*--saturn---------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------ */
/*------------------------------------------------------------------------------------------ */

.saturn {
    height: 250px;
    flex-basis: 50%;
    -ms-flex: auto;
    width: 250px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.saturn-wrapper {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    background: #aaa;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    position: relative;
}

.saturn-container {
    height: 100%;
    width: 100%;
    position: relative;
}

/*--Hovers---------------------------------------------------------------------------------------- */

/*.saturn:hover .saturn-wrapper {*/
/*padding: 2% 2%;*/
/*margin: -2% -2%;*/
/*}*/

/*---Media Queries--------------------------------------------------------------------------------------- */

@media(max-width: 1333px) {
    .saturn {
        flex-basis: 50%;
    }
}

@media(max-width: 1073px) {
    .saturn {
        flex-basis: 50%;
    }
}

@media(max-width: 815px) {
    .saturn {
        flex-basis: 100%;
    }
}

@media(max-width: 555px) {
    .saturn {
        flex-basis: 100%;
    }
}

/*--mercury---------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------ */
/*------------------------------------------------------------------------------------------ */

.mercury {
    height: 250px;
    flex-basis: 25%;
    -ms-flex: auto;
    width: 250px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.mercury-wrapper {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    background: #aaa;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    position: relative;
}

.mercury-container {
    height: 100%;
    width: 100%;
    position: relative;
}

/*--Hovers---------------------------------------------------------------------------------------- */

/*.mercury:hover .mercury-wrapper {*/
/*padding: 2% 2%;*/
/*margin: -2% -2%;*/
/*}*/

/*---Media Queries--------------------------------------------------------------------------------------- */

@media(max-width: 1333px) {
    .mercury {
        flex-basis: 25%;
    }
}

@media(max-width: 1073px) {
    .mercury {
        flex-basis: 25%;
    }
}

@media(max-width: 815px) {
    .mercury {
        flex-basis: 50%;
    }
}

@media(max-width: 555px) {
    .mercury {
        flex-basis: 100%;
    }
}

/*--pluto---------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------ */
/*------------------------------------------------------------------------------------------ */

.pluto {
    height: 150px;
    flex-basis: 12.5%;
    -ms-flex: auto;
    width: 250px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.pluto-wrapper {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    background: #aaa;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    position: relative;
}

.pluto-container {
    height: 100%;
    width: 100%;
    position: relative;
}

/*--Hovers---------------------------------------------------------------------------------------- */

/*.pluto:hover .pluto-wrapper {*/
/*padding: 2% 2%;*/
/*margin: -2% -2%;*/
/*}*/

/*---Media Queries--------------------------------------------------------------------------------------- */

@media(max-width: 1333px) {
    .pluto {
        flex-basis: 12.5%;
    }
}

@media(max-width: 1073px) {
    .pluto {
        flex-basis: 25%;
    }
}

@media(max-width: 815px) {
    .pluto {
        flex-basis: 50%;
    }
}

@media(max-width: 555px) {
    .pluto {
        flex-basis: 100%;
    }
}
/*---Stars--------------------------------------------------------------------------------------- */
.checked {
    color: orange;
}
.checked2 {
    color: orange;
}
.star-1:before{content:"\2605\2606\2606\2606\2606";}
.star-2:before{content:"\2605\2605\2606\2606\2606";}
.star-3:before{content:"\2605\2605\2605\2606\2606";}
.star-4:before{content:"\2605\2605\2605\2605\2606";}
.star-5:before{content:"\2605\2605\2605\2605\2605";}